<div ng-include="'partials/navbar'"></div>
<div class="col-md-offset-2 col-md-8">
    <form class="form-horizontal">

        <div class="form-group">
            <div class=" col-sm-5 col-md-5">
                <input class="form-control" type="text" ng-model="exploreNearby" placeholder="New york">
            </div>
            <div class=" col-sm-5 col-md-5">
                <input class="form-control" type="text" ng-model="exploreQuery" placeholder="Specify category e.g. Buger">
            </div>
            <div class=" col-sm-2 col-md-2 ">
                <button class="form-control btn btn-primary " ng-click="doSearch()" >Explore</button>
            </div>

        </div>

        <div class="well well-sm" data-ng-show="totalRecordsCount == 0">
            <h5>No Places found Near by ({{exploreNearby}})</h5>
        </div>
        <toaster-container toaster-options="{'time-out': 1700}"></toaster-container>

        <div ng-show="totalRecordsCount > 0 ">
            <div class="row">
                <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="filterValue" placeholder="Filter Places by (Place name) or (Category)">
                </div>
            </div>

            <ul class="list-group" data-ng-repeat="item in filteredPlaces">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img data-ng-src="{{buildCategoryIcon(item.venue.categories[0].icon)}}"
                                 title="{{item.venue.categories[0].shortName}}" class="venueIcon" />
                        </div>
                        <div class="col-xs-6 col-md-8">
                            <a href="" data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
                                <h2 class="venueName">{{item.venue.name}}</h2>
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <span class="badge">{{item.venue.rating | number:1}}</span>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            <p class="text-warning"><small>{{(item.venue.location.address != null) && item.venue.location.address}} - {{item.venue.categories[0].shortName}}</small></p>
                            <p>{{item.tips[0].text}}</p>
                            <hr class="seperator" />
                            <a href="" data-ng-click="bookmarkPlace(item.venue)"><span class="glyphicon glyphicon-bookmark"></span>Bookmark Place</a>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <a href="" data-ng-click="showVenuePhotos(item.venue.id,item.venue.name)">
                                <img data-ng-src="{{buildVenueThumbnail(item.venue.photos.groups[0])}}" class="img-thumbnail" /></a>
                        </div>
                    </div>

                </li>

            </ul>
            <div ng-show="totalRecordsCount > 0 ">
                <div class="row">
                    <div class="col-sx-12 col-md-12 text-center">
                        <pagination total-items="totalRecordsCount" page="currentPage" max-size="5" class="pagination-sm"
                                    boundary-links="true" rotate="false" num-pages="numPages" on-select-page="setPage(currentPage)"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                        </pagination>
                    </div>


                </div>
            </div>
        </div>

    </form>

</div>